doctype html
html(lang="en-ca")
	head
		title= title + " - " + message
		style(type="text/css").
			* {
				font-family: arial;
			}
			h1 {
				color: red;
				text-align: center;
			}
	body
		h1= title + ": " + error + " " + message





























